In [1]:
# 2.1

message = "Hello world"
print(message) # Hello world

Hello world

In [2]:
# 2.2

message = "Goodbye world"
print(message)

Goodbye world

In [3]:
first_name = "ada"
last_name = "lovelace"
full_name = f"{first_name} {last_name}"
print(full_name) # ada lovelace
print(f"Hello, {full_name.title()}")
message = f"Hello, {full_name.title()}"
print(message) # Hello, Ada Lovelace

ada lovelace
Hello, Ada Lovelace
Hello, Ada Lovelace

In [4]:
# 2.3

name = "michael"
hello_message = f"Hello, {name.title()}. Would you like "
hello_message += "to learn some Python today?"
print(hello_message)

Hello, Michael. Would you like to learn some Python today?

In [5]:
# 2.4

print(name.lower())
print(name.upper())
print(name.title())

michael
MICHAEL
Michael

In [6]:
# 2.5

famous_person = "Albert Einstein"
quote = "A person who never made a mistake never tried anything new."

print(f"{famous_person.title()} once said, \"{quote}\"")

Albert Einstein once said, "A person who never made a mistake never tried anything new."

In [7]:
# 2.6

message = quote

print(f"{famous_person.title()} once said, \"{message}\"")

Albert Einstein once said, "A person who never made a mistake never tried anything new."

In [8]:
# 2.7
# Strip the spaces from the beginning and end of the string
name = "  mike\n\t halladay  "
print(name)

print(name.lstrip())
print(name.rstrip())
print(name.strip())

  mike
	 halladay
mike
	 halladay
  mike
	 halladay
mike
	 halladay

In [9]:
# 2.8
print(5 + 3)
print(11 - 3)
print(4 * 2)
print(64 / 8)

8
8
8
8.0

In [10]:
# 2.9
# Print a message with my favorite number
favorite_number = 18
print(f"My favorite number is {favorite_number}")

My favorite number is 18

In [11]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [12]:
# 3-1

names = ['john', 'jacob', 'jingle', 'heiner', 'schmidt', 'karen']
for name in names:
    print(name.title())

John
Jacob
Jingle
Heiner
Schmidt
Karen

In [13]:
# 3-2
for name in names:
    print(f'Dear {name.title()}, good to see you.')

Dear John, good to see you.
Dear Jacob, good to see you.
Dear Jingle, good to see you.
Dear Heiner, good to see you.
Dear Schmidt, good to see you.
Dear Karen, good to see you.

In [14]:
# 3-3

favorite_transportation = ['honda motorcycle', 'nissan rogue', 'kawasaki ninja', 'harley davidson', 'mclaren f1']
for transportation in favorite_transportation:
    print(f"I would like to own a {transportation.title()}.")

I would like to own a Honda Motorcycle.
I would like to own a Nissan Rogue.
I would like to own a Kawasaki Ninja.
I would like to own a Harley Davidson.
I would like to own a Mclaren F1.

In [15]:
favorite_transportation.append('ferrari enzo')
favorite_transportation.insert(0, 'hyundai senata')
for transportation in favorite_transportation:
    print(f"I would like to own a {transportation.title()}.")

I would like to own a Hyundai Senata.
I would like to own a Honda Motorcycle.
I would like to own a Nissan Rogue.
I would like to own a Kawasaki Ninja.
I would like to own a Harley Davidson.
I would like to own a Mclaren F1.
I would like to own a Ferrari Enzo.

In [16]:
# 3-4

guest_list = ['pablo picasso', 'michaelangelo', 'leonardo da vinci']
for guest in guest_list:
    print(f"Hello, {guest.title()}, you are invited to dinner.")

Hello, Pablo Picasso, you are invited to dinner.
Hello, Michaelangelo, you are invited to dinner.
Hello, Leonardo Da Vinci, you are invited to dinner.

In [17]:
# 3-5
no_show = "pablo picasso"
print(f"It's a shame that {no_show.title()} can't make dinner.")
guest_list.remove(no_show)
guest_list.insert(0, "vincent van gogh")

print("The new guest list is:")
for guest in guest_list:
    print(guest.title())

It's a shame that Pablo Picasso can't make dinner.
The new guest list is:
Vincent Van Gogh
Michaelangelo
Leonardo Da Vinci

In [18]:
# 3-6

print("Hey guys, I found a bigger table!")

print(len(guest_list))
guest_list.insert(0, "ernest hemingway")
guest_list.insert(2, "sir isaac newton")
guest_list.append("alexander the great")

print("We now have:")
for guest in guest_list:
    print(guest.title())

Hey guys, I found a bigger table!
3
We now have:
Ernest Hemingway
Vincent Van Gogh
Sir Isaac Newton
Michaelangelo
Leonardo Da Vinci
Alexander The Great

In [19]:
# 3-7

print("Sorry fellas, I can now only have two people over for dinner.")

while len(guest_list) > 2:
    print(f"Sorry, {guest_list[-1].title()}, you cannot attend.")
    guest_list.pop()
for guest in guest_list:
    print(guest.title())
    
print("You are invited to the smaller dinner.")

while len(guest_list) > 0:
    del guest_list[0]
    
print(guest_list)

Sorry fellas, I can now only have two people over for dinner.
Sorry, Alexander The Great, you cannot attend.
Sorry, Leonardo Da Vinci, you cannot attend.
Sorry, Michaelangelo, you cannot attend.
Sorry, Sir Isaac Newton, you cannot attend.
Ernest Hemingway
Vincent Van Gogh
You are invited to the smaller dinner.
[]

In [20]:
# 3-8

vacations = ["germany", "japan", "australia", "switzerland", "ireland"]
for vacation in vacations:
    print(vacation.title())

Germany
Japan
Australia
Switzerland
Ireland

In [21]:
print(sorted(vacations))

['australia', 'germany', 'ireland', 'japan', 'switzerland']

In [22]:
print(vacations)

['germany', 'japan', 'australia', 'switzerland', 'ireland']

In [23]:
vacations.reverse()
print(vacations)

['ireland', 'switzerland', 'australia', 'japan', 'germany']

In [24]:
vacations.reverse()
print(vacations)

['germany', 'japan', 'australia', 'switzerland', 'ireland']

In [25]:
vacations.sort()
print(vacations)

['australia', 'germany', 'ireland', 'japan', 'switzerland']

In [26]:
vacations.sort(reverse=True)
print(vacations)

['switzerland', 'japan', 'ireland', 'germany', 'australia']

In [27]:
# 3-9

print(len(guest_list))

# 3-10 & 3-11
# Not doing

0

In [28]:
# 4-1

pizzas = ["pepperoni", "sausage", "meatlovers"]
for pizza in pizzas:
    print(f"I like {pizza} pizzas.")
    
print("I really love pizza!")

I like pepperoni pizzas.
I like sausage pizzas.
I like meatlovers pizzas.
I really love pizza!

In [29]:
# 4-2

animals = ["horned lizard", "iguana", "chameleon"]
# print(animals[:4])
for animal in animals:
    print(f"An {animal} would make a great pet.")
    
print("Any of these animals would make a great pet!")

An horned lizard would make a great pet.
An iguana would make a great pet.
An chameleon would make a great pet.
Any of these animals would make a great pet!

In [30]:
for value in range(1, 5):
    print(value)

1
2
3
4

In [31]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [32]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [33]:
squares = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
digits = [1, 2, 3, 4 , 5, 6, 7, 8, 9, 0]
print(min(digits))
print(max(digits))
print(sum(digits))

0
9
45

### List Comprehension
#### To use this syntax, begin with a descriptive name for the list (variable name). Next, open a set of square brackets and define the expression for the values you want to store in the new list.

In [35]:
# List comprehension

squares = [value**2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
# 4-3

for number in range(1, 21):

    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [37]:
# 4-4

# for number in range(1, 1000001):
#     print(number)

In [38]:
# 4-5

million_numbers = [number for number in range(1, 1000001)]

print(min(million_numbers))
print(max(million_numbers))
print(sum(million_numbers))

1
1000000
500000500000

In [39]:
# 4-6

odd_numbers = list(range(1,21,2))
# print(odd_numbers)
for number in odd_numbers:
    print(number)

1
3
5
7
9
11
13
15
17
19

In [40]:
# 4-7

multiples_of_three = list(range(3, 31, 3))
for number in multiples_of_three:
    print(number)

3
6
9
12
15
18
21
24
27
30

In [41]:
# 4-8 && 4-9

cubes = [value**3 for value in range(1, 11)]
for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

In [42]:
# 4-10

players = ['charles', 'martina', 'michael', 'florence', 'eli', 'brook', 'joe', 'chip', 'dale']

print(players[0:3])
print(players[1:4])
print(players[2:])
print(players[-3:])
print(players[-2:])
print(players[:-2])
print(players[:-2:2])
print(players[1:5:2])

for player in players[1:6:2]:
    print(player.title())

['charles', 'martina', 'michael']
['martina', 'michael', 'florence']
['michael', 'florence', 'eli', 'brook', 'joe', 'chip', 'dale']
['joe', 'chip', 'dale']
['chip', 'dale']
['charles', 'martina', 'michael', 'florence', 'eli', 'brook', 'joe']
['charles', 'michael', 'eli', 'joe']
['martina', 'florence']
Martina
Florence
Brook

In [43]:
# 4-11

my_foods = ['pizza', 'falafel', 'carrot cake', 'pudding']

# You need the [:] to make a copy of the list without further 
# tracking of the original list. Basically, forking vs cloning.
friend_foods = my_foods[:]
print(my_foods)
print(friend_foods)

my_foods.append('apple pie')
friend_foods.append('cherry pie')

print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake', 'pudding']
['pizza', 'falafel', 'carrot cake', 'pudding']
['pizza', 'falafel', 'carrot cake', 'pudding', 'apple pie']
['pizza', 'falafel', 'carrot cake', 'pudding', 'cherry pie']

In [44]:
# 4-12

for food in my_foods:
    print(food)

print("\n")

for food in friend_foods:
    print(food)

pizza
falafel
carrot cake
pudding
apple pie


pizza
falafel
carrot cake
pudding
cherry pie

### Tuples
#### Unlike a list, a tuple is immutable (cannot be changed)

In [45]:
# 4-13

buffet_foods = ('sausage', 'egg', 'cheese', 'biscuits', 'gravy')
print(buffet_foods)

# # Will not work, trying to modify a tuple
# buffet_foods.insert(1, 'chocolate bars')

buffet_foods = list(buffet_foods)

buffet_foods.insert(1, 'chocolate bars')
print(buffet_foods)

('sausage', 'egg', 'cheese', 'biscuits', 'gravy')
['sausage', 'chocolate bars', 'egg', 'cheese', 'biscuits', 'gravy']

In [46]:
# 6-1

favorite_languages = {
    'jen': 'python',
    'sarah': 'c',
    'edward': 'ruby',
    'phil': 'python',
    }

for name in sorted(favorite_languages.keys()):
    print(f"{name.title()}, thank you for the poll.")

for language in sorted(set(favorite_languages.values())):
    print(f"{language.title()} was one of the selected programming languages.")
    
get_language = favorite_languages.get('edward', 'Someone with this name did not take the poll.')
print(f"The person selected {get_language.title()} as their language.")

Edward, thank you for the poll.
Jen, thank you for the poll.
Phil, thank you for the poll.
Sarah, thank you for the poll.
C was one of the selected programming languages.
Python was one of the selected programming languages.
Ruby was one of the selected programming languages.
The person selected Ruby as their language.

In [47]:
for key, value in favorite_languages.items():
    print(f"\nKey: {key.title()}")
    print(f"Value: {value.title()}")

Key: Jen
Value: Python

Key: Sarah
Value: C

Key: Edward
Value: Ruby

Key: Phil
Value: Python

In [49]:
# Store information about a pizza being ordered.
pizza = {
    'crust': 'thick',
    'toppings': ['mushrooms', 'extra cheese'],
    }

# Summarize the order.
print(f"You ordered a {pizza['crust']}-crust pizza "    
      "with the following toppings:")
for topping in pizza['toppings']:
    print(f"\t{topping}")

You ordered a thick-crust pizza with the following toppings:
	mushrooms
	extra cheese

In [55]:
users = {
    'aeinstein': {
        'first': 'albert',
        'last': 'einstein',
        'location': 'princeton',
        },
    'mcurie': {
        'first': 'marie',
        'last': 'curie',
        'location': 'paris',
        },
    }
for username, user_info in users.items():
    print(f"\nUsername: {username}")
    full_name = f"{user_info['first']} {user_info['last']}"
    location = user_info['location']
    
    print(f"\tFull name: {full_name.title()}")
    print(f"\tLocation: {location.title()}")

Username: aeinstein
	Full name: Albert Einstein
	Location: Princeton

Username: mcurie
	Full name: Marie Curie
	Location: Paris

868km/h == 540mi/h